# k8s/migration-job.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: laravel-migrate
  namespace: web-forum
spec:
  template:
    spec:
      containers:
      - name: migrate
        image: web-forum:latest
        command: ["php", "artisan", "migrate", "--force"]
        env:
        - name: APP_NAME
          value: "Web Forum"
        - name: APP_ENV
          value: "production"
        - name: APP_DEBUG
          value: "false"
        - name: APP_URL
          value: "http://ForumConnect.com"
        - name: BROADCAST_DRIVER
          value: "pusher"
        - name: DB_CONNECTION
          value: "mysql"
        - name: DB_HOST
          value: "mysql-service"
        - name: DB_PORT
          value: "3306"
        - name: DB_DATABASE
          value: "web_forum"
        - name: DB_USERNAME
          value: "web_forum"
        - name: APP_KEY
          valueFrom:
            secretKeyRef:
              name: laravel-secret
              key: APP_KEY
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: laravel-secret
              key: DB_PASSWORD
        volumeMounts:
        - name: storage
          mountPath: /var/www/storage
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: storage-pvc
      restartPolicy: OnFailure